.dashboard{
    
    background-image: url('../../../assets/bg4.jpeg');
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    height: 100rem;
}